.ClassroomView {
    color: white;
}

.ClassroomView h2 {
    margin: 1em 0;
}

.card {
    width: 18rem;
    margin: 0 auto;
}

.card img {
    height: 200px;
    width: auto;
    object-fit: cover;
    max-width: 100%;
}

.card-body {
    color: black;
}

.row {
    margin: 1em auto;
}