h2 {
    color: white;
}

h3 {
    color: darkgoldenrod;
}

p {
    color: honeydew;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 1em 10em;
}

.grid img {
    object-fit: contain;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
}

.proj-info {
    margin-top: 1em;
    padding-left: 1em;
}
